html, body {
	background-image: url("http://i.imgur.com/JIPew2i.jpg");
	background-repeat: repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#groups {
		text-align: center;
}
.groups ul {
	padding-top: 20px;
	margin: 0px;
}

.groups li {
	background: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	color: #333;
	display: inline-block;
	font-family: "Helvetica Neue";
	font-size: 24px;
	height: 30px;
	margin: 0px 20px 0px 20px;
	padding: 5px;
	text-decoration: none;
	width: 100px;
}

.groups li:hover {
	background: rgba(230, 230, 230, 0.5);
	color: #555;
}

.favourites {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	text-align: center;
}

.favourites ul {
	padding: 0px;
	margin: 0px;
}

.favourites li {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 110px;
	padding: 0;
	margin: 30px;
	margin-bottom: 40px;
}

.favourites li > a {
	position: absolute;
	top: 0; left: 0;
	display: inline-block;
	width: 150px;
	height: 120px;
	padding: 10px;

	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);

	text-align: center;
	color: black;
	text-decoration: none;
	font-family: sans-serif;

	transition: all 0.3s;
}
/*
.favourites li > a:hover {
	top: 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
*/
.favourites li > a > div {
	width: 150px;
	height: 100px;
	overflow: hidden;
}

.favourites li > a > div > img {
	width: auto;
	height: 100%;
}

.favourites li > a > p {
	font-family: "Helvetica Neue";
	font-size: 12px;
	color: #333;
}
